.btn-container {
  width: 100%;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-details {
  background-color: orange;
  border: 0;
  outline: none;
  font-size: 10px;
  color: white;
  border-radius: 2px;
  padding: 0 4px;
  font-weight: bold;
}

.btn-details:focus {
  outline: 0;
}

.table-row td:last-child {
  color: orange;
  font-weight: bold;
}

.table-row td:nth-last-child(2) {
  color: #191970;
  font-weight: bold;
}

.table-row td:last-child::before {
  content: '$';
}
