.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  min-width: 425px;
}

.table {
  width: auto;
}
